/UmanaAcademy.TeamII.GestionaleNegozio/.vs/UmanaAcademy.TeamII.GestionaleNegozio/v16/.suo
/UmanaAcademy.TeamII.GestionaleNegozio/.vs/UmanaAcademy.TeamII.GestionaleNegozio/v16/Server/sqlite3/db.lock
/UmanaAcademy.TeamII.GestionaleNegozio/.vs/UmanaAcademy.TeamII.GestionaleNegozio/v16/Server/sqlite3/storage.ide
/UmanaAcademy.TeamII.GestionaleNegozio/.vs/UmanaAcademy.TeamII.GestionaleNegozio/v16/Server/sqlite3/storage.ide-shm
/UmanaAcademy.TeamII.GestionaleNegozio/.vs/UmanaAcademy.TeamII.GestionaleNegozio/v16/Server/sqlite3/storage.ide-wal
